@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	font-family: Poppins, sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#root {
	height: 100dvh;
	display: flex;
	flex-direction: column;
}

header.app-main-header {
	width: 100%;
	height: 10%;
	border-top: 1px solid gray;

	nav {
		height: 100%;
		display: flex;
		justify-content: space-around;
	}

	a {
		text-decoration: none;
		color: black;
		font-size: 2rem;
		display: flex;
		align-items: center;
	}
}

.current-window {
	height: 90%;
	padding-top: 32px;

	header {
		font-weight: normal;
		padding: 0 32px;

		h1 {
			font-weight: normal;
		}
	}
}

.scroll-window {
	display: flex;
	flex-direction: column;
	gap: 16px;

	.scroll-window-main {
		flex-grow: 1;
		min-height: 0;
		overflow-y: auto;
		padding: 0 32px 70px 32px;
	}
}

.date-form {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
}

.underlined-input {
	border: none;
	border-bottom: 2px solid black;
	outline: none;
}

.underlined-btn {
	background: none;
	border: none;
	color: black;
	text-decoration: underline;
	font-weight: 600;
}

.highlight-btn {
	background: black;
	color: white;
	border: none;
	border-radius: 4px;
	padding: 6px;
}

.highlight-btn:disabled {
	opacity: 0.3;
}

.icon-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
}

dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 32px;
	width: 90%;
	overflow: visible;
	border: 2px solid black;
}

::backdrop {
	backdrop-filter: blur(4px);
}
.standard-form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 16px;

	.form-input-wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
	}

	.form-btn-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: stretch;

		button {
			font-size: 1.2rem;
			border: none;
		}

		button:not(.highlight-btn) {
			background: none;
			color: black;
		}
	}
}

.login-form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	border: 2px solid black;
	padding: 32px;

	.login-btn {
		flex: 1;
	}

	span {
		display: flex;
		justify-content: space-between;
	}
}

.meals-window {
	position: relative;

	header {
		div {
			display: flex;
			justify-content: space-evenly;
			font-size: 1.2rem;
		}
	}

	.meals-list {
		list-style: none;

		> li {
			padding: 16px 0;
		}

		> li:not(:last-child) {
			border-bottom: 1px dashed gray;
		}

		.meal-top {
			display: flex;
			justify-content: space-between;
			font-size: 1.7rem;

			div {
				display: flex;
				gap: 8px;
			}

			div button {
				font-size: inherit;
				background: transparent;
				border: none;
				color: black;
				display: flex;
				justify-content: center;
				align-items: center;
				i {
					border-bottom: 2px solid black;
				}
			}
		}

		.meal-top h2 {
			font-weight: normal;
			font-size: inherit;
		}

		.meal-info-list {
			list-style: none;
			margin-left: 24px;
		}

		.meal-info-list div {
			display: flex;
			justify-content: space-between;
		}

		.edit-meal-form {
			display: flex;
			flex-direction: column;
		}

		.edit-meal-form > .form-btn-wrapper {
			margin-top: 8px;

			.del-meal-btn:not(.highlight-btn) {
				display: flex;
				justify-content: center;
				align-items: center;
				color: red;
			}

			.del-meal-btn .del-confirm {
				padding: 4px;
				background: black;
				color: white;
				border-radius: 8px;
			}

			.form-btn-wrapper {
				flex: 4;
				justify-content: end;
				gap: 8px;
			}
		}

		.meal-info-list,
		.edit-meal-form {
			font-size: 1.2rem;
		}
	}

	.add-meal-btn {
		position: absolute;
		bottom: 10px;
		right: 10px;
		width: 58px;
		aspect-ratio: 1 / 1;
		border: none;
		border-radius: 50%;
		background: black;
		color: white;

		font-size: 2rem;
	}

	dialog .food-suggestions-list {
		position: absolute;
		top: calc(100% + 4px);
		z-index: 1;
		width: 100%;
		max-height: 200px;
		overflow-y: scroll;
		display: flex;
		flex-direction: column;
		gap: 4px;
		background: white;
		padding: 4px;
		border-radius: 0 0 4px 4px;
		border: 2px solid black;

		li {
			display: flex;
			justify-content: space-between;
		}

		.suggestions-foodname {
			font-weight: 500;
		}
	}
}

.foods-window {
	.foods-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, 160px);
		justify-content: space-between;
		gap: 24px;
		height: 100%;

		.food-card {
			background: transparent;
			color: black;
			padding: 8px;
			border-radius: 8px;
			border: 2px solid black;

			ul {
				list-style: none;
			}
		}
	}
}

.stats-wrapper {
	display: flex;
	flex-direction: column;
	gap: 32px;

	.date-inputs-wrapper {
		display: grid;
		grid-template-columns: 0.5fr 3fr 0.5fr;
		grid-template-rows: 1fr 1fr;
		gap: 8px;
		grid-auto-flow: column;

		div {
			grid-row: 1 / 3;
			display: flex;
			justify-content: center;
			align-items: center;

			button {
				width: 100%;
				aspect-ratio: 1 / 1;
			}
		}
	}

	.charts-container {
		flex-grow: 1;

		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-wrap: wrap;
	}
}
